// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* body {
  background-image: url("https://media2.giphy.com/media/l3vRdNUR4XPpRoPmM/giphy.gif?cid=ecf05e476wqeyz22h6j5gwpt92jqxelhjf09u0nnddu4up2u&rid=giphy.gif&ct=g");
  background-size: cover;
}
*/
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.hello {
  color: red;
}

.container {
  align-items: center;
}
